
/*
================+/+/+/+/+/+/+/+/+/=================
                    min-width: 1599px
================+/+/+/+/+/+/+/+/+/=================
*/
@media only screen and (min-width: 1599px) {
    
}

/*
================+/+/+/+/+/+/+/+/+/=================
    (min-width: 1200px) and (max-width: 1400px)
================+/+/+/+/+/+/+/+/+/=================
*/

@media only screen and (min-width: 1200px) and (max-width: 1400px) {

}

/*
================+/+/+/+/+/+/+/+/+/=================
    (min-width: 992px) and (max-width: 1199px)
================+/+/+/+/+/+/+/+/+/=================
*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {
.main_menu li {
    padding: 45px 13px;
    
}
    .section_title h3 {
    font-size: 36px;
}
    .section_title{
        padding-bottom: 15px;
    }
.logo {
    text-align: left;
    padding: 25px 0px;
}
.welcome_content h1 {
    font-size: 75px;
}
    .about_area_content {
    padding-top: 90px;
    padding-bottom: 90px;
}
    .small_shape_img {
    width: 189px;
        height: auto;
    margin-left: 52px;
    display: inline-block;
}
    .upper_480{
        display: none;
    }
    
}

/*
================+/+/+/+/+/+/+/+/+/=================
                     tab
================+/+/+/+/+/+/+/+/+/=================
*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    
    nav.main_menu {
    display: none;
}
    .header_social_bar {
    display: none;
}
    .responsive_menu_slicknav{
        display: block;
    }
    .slicknav_nav {
    clear: both;
    color: #fff;
    margin: 0;
    background: #ccc;
    text-align: left;
    width: 157px;
    border: 1px solid #440202;
    font-size: .875em;
}
    .slicknav_nav a {
    text-decoration: none;
    color: #222;
    font-weight: bold;
    border-bottom: 1px solid #aaa;
         font-family: 'Architects Daughter', cursive;
}
   
.slicknav_menu {
    background: none;
    position: absolute;
    top: 35%;
    right: 11px;
    margin: 0;
    padding: 0;
    text-align: right;
    z-index: 3;
}
    a.slicknav_btn.slicknav_collapsed {
    border: 1px solid #fff;
}
    ul.slicknav_nav li:hover a {
    background: red;
}
    
    .welcome_content h1 {
    font-size: 50px;
    padding: 30px 0px;

}
.small_shape_img {
    margin-left: 43px;

}
.ingrdient_content {
    padding: 110px 50px;
}
.guest_content p {
    font-size: 22px;
    padding-bottom: 20px;
}
    .guest_content h3 {
    padding-bottom: 10px;
}
    .guest_content_wrapper {
    padding-top: 214px;
    padding-bottom: 100px;
}
    .reservation_content_wrapper {
    padding-top: 30px;
}
    .upper_480{
        display: none;
    }
    .logo {
    padding: 14px 20px;
}
    
    
}



/*
================+/+/+/+/+/+/+/+/+/=================
                    Mobile
================+/+/+/+/+/+/+/+/+/=================
*/

@media only screen and (min-width: 0px) and (max-width: 767px) {

}


/*
================+/+/+/+/+/+/+/+/+/+/=================
                    wid device
================+/+/+/+/+/+/+/+/+/=================
*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
nav.main_menu {
    display: none;
}
    .header_social_bar {
    display: none;
}
    .responsive_menu_slicknav{
        display: block;
    }
    .slicknav_nav {
    clear: both;
    color: #fff;
    margin: 0;
    background: #ccc;
    text-align: left;
    width: 157px;
    border: 1px solid #440202;
    font-size: .875em;
}
    .slicknav_nav a {
    text-decoration: none;
    color: #222;
    font-weight: bold;
    border-bottom: 1px solid #aaa;
         font-family: 'Architects Daughter', cursive;
}
   
.slicknav_menu {
    background: none;
    position: absolute;
    top: 35%;
    right: 11px;
    margin: 0;
    padding: 0;
    text-align: right;
    z-index: 3;
}
    a.slicknav_btn.slicknav_collapsed {
    border: 1px solid #fff;
}
    ul.slicknav_nav li:hover a {
    background: red;
}
.logo {
    padding: 14px 20px;
}
    .welcome_content h1{
        padding: 70px 20px 30px;
        font-size: 35px;
    }
    .about_area_content {
    padding: 50px 0px;
        
}
    .ingredient_small_image{
        width: 100%;
        height: auto;
    }
   .ingrdient_content {
    padding: 86px 0px;
    margin: 10px 0px;
}
    .three_image{
        display: none;
    }
    .upper_400{
        display: block;
    }
    .ingredient_small_image{
            width: 25%;
    margin: 0 10px;
        height: auto;
        
        display: inline-block
    }
    .ingrdient_small_image img{
        width: 100px;
        height: auto;
    }
    .guest_content p {
    font-size: 18px;
    padding-bottom: 15px;
}
    .guest_content h3 {
    font-size: 21px;
padding-bottom: 0;
}
.guest_content_wrapper {
    padding-top: 190px;
    padding-bottom: 85px;
}
    

.reservation_single_image {

    padding: 10px;
    }
    .reservation_content_wrapper {
    padding: 15px;
}


}













